<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Eat-Da-Burger!</title>
    <!-- CSS StyleSheet-->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="/assets/js/script.js"></script>
  </head>

  <body>
    {{{body}}}

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/script.js"></script>
  </body>

</html>